<div class="contenedor">
    <p class="titulo">Lista de juegos</p>
    <div class="contenedorLista">
        <div class="listaEncabezado">
            <span>Juego</span>
            <span>Cantidad de jugadores</span>
        </div>
        <div class="items" *ngFor="let juego of listaDejuegos">
            <span>{{juego.id}}</span>
            <!-- <button mat-raised-button [color]="juego.iniciado? 'basic':'primary'"
                (click)="juego.iniciado? iniciarJuego(juego.id):entrarEnJuego(juego.id)">
                {{juego.iniciado?'Iniciar':'Entrar'}}
                <span>{{juego.cantidadJugadores}}</span>
            </button> -->
            <button mat-raised-button color="primary"
                (click)= "entrarEnJuego(juego.id)">
                Entrar
                <span>{{juego.cantidadJugadores}}</span>
            </button>
        </div>
    </div>
</div>