<div class="contenedor">
    <p class="titulo">Lista de juegos</p>
    <div class="contenedorLista">
        <div class="listaEncabezado">
            <span>Juego</span>
            <span>Cantidad de jugadores</span>
        </div>
        <div class="items">
            <span>juego1</span>
            <button mat-raised-button color="primary">Iniciar 5</button>
        </div>
        <div class="items">
            <span>juego2</span>
            <button mat-raised-button color="primary">Iniciar 2</button>
        </div>
        <div class="items">
            <span>juego3</span>
            <button mat-raised-button color="basic" (click)="entrarEnJuego()">Entrar 3</button>
        </div>
    </div>
</div>