<div class="contenedor">
    <div class="div1">
        <p>Inicio</p>
    </div>
    <div class="div2">
        <p class="indicaciones">Indicaciones de juego</p>
        <p class="info">Para iniciar el juego debes estar registrado, incluso los jugadores</p>
        <button mat-raised-button color="primary" class="botonCrearJuego" (click)="crearJuego()">Crear juego</button>
    </div>
    <div class="div3">
        <p>Invita a tus amigos</p>
    </div>
    <button mat-raised-button color="basic" class="botonConsultar" (click)="consultarJuegos()" >Consultar juegos creados</button>
</div>