<div class="contenedor">
    <div class="header">
        <div class="header-info">
            <p>Ronda #1</p>
            <p>Jugadores 6/6</p>
        </div>
        <div class="header-info2">
            <span class="tiempo">Tiempo: 50s </span>
            <button mat-raised-button color="primary" class="boton">Iniciar</button>
        </div>
    </div>
    <div class="tablero">
        <div class="partida">Partida</div>
        <div class="tableroCardContainer">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <div class="mazo">
        <div class="mazo2">Mazo</div>
        <div class="mazoCardContainer">
            <div class="card"><button mat-raised-button color="primary" class="botonPoner">poner</button></div>
            <div class="card"><button mat-raised-button color="primary" class="botonPoner">poner</button></div>
            <div class="card"><button mat-raised-button color="primary" class="botonPoner">poner</button></div>
            <div class="card"><button mat-raised-button color="primary" class="botonPoner">poner</button></div>
            <div class="card"><button mat-raised-button color="primary" class="botonPoner">poner</button></div>
        </div>
    </div>
</div>