<div class="contenedor">
    <div class="header">
        <div class="header-info">
            <p>Ronda: {{ronda}}</p>
            <p>Jugadores: {{jugadores}}</p>
        </div>
        <div class="header-info2">
            <span class="tiempo">Tiempo: {{tiempo}}s </span>
            <button mat-raised-button color="primary" class="boton" (click)="iniciarRonda()">Iniciar</button>
        </div>
    </div>
    <div class="tablero">
        <div class="partida">Partida</div>
        <div class="tableroCardContainer">
            <div class="card" *ngFor="let carta of cartasDelTablero">
                <img src="/assets/Pack 108 Pepsicards marvel/{{carta.cartaId}}"/>
            </div>
            <!-- <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div> -->
        </div>
    </div>
    <div class="mazo">
        <div class="mazo2">Mazo</div>
        <div class="mazoCardContainer">
            <div class="card" *ngFor="let carta of mazoJugador">
                <img src="/assets/Pack 108 Pepsicards marvel/{{carta.cartaId}}"/>
                <button mat-raised-button color="primary" class="botonPoner" (click)="apostar(carta.cartaId)">{{carta.poder}} PTS</button>
            </div>
        </div>
    </div>
</div>